*{
    box-sizing: border-box;
}

body{
    font-family: "roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container{
    background-color: #222831;
    color:#fff;
    width: 800px;
    margin: 0 auto;
    font-size: 15px;
    border-radius: 10px;
    padding: 15px;
}

.header{
    border-bottom: solid 1px #fff;
    padding: 10px;
    display: flex;
    align-items: center;
}

.search-container{
    width: 30%;
}

.search-container .search{
    width:100%;
    background-color: #777;
    border-radius: 5px;
    color: #fff;
    border: solid 1px #393E46;
}

.buttons{
    width: 70%;
}

button{
    margin: 0 5px;
    font-size: 20px;
    display: inline-block;
    border-radius: 5px;
    border: 0;
    background: transparent;
    color: #fff;
    cursor: pointer;
}

button:hover{
    background: #1F6F8B;
}

.footer{
    padding: 10px;
    display: flex;
    align-items: center;
}

.footer .entries-section{
    width: 60%;
}

.footer pagination-section{
    margin-left: auto;
    margin-right: 0;
    width: 40%;
}

.footer .pagination-section a{
    margin: 0 1px;
    font-size: 12px;
    display: inline-block;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    padding: 3px;

}

.footer .pagination-section a:hover{
    background: #1F6F8B;
}

.footer .pagination-section .active{
    background: #1F6F8B;

}

.table-list{
    border-collapse: collapse;
    width: 100%;
}

.table-list th,
.table-list td{
    padding: 20px 25px;
}


.table-list tr:nth-child(even){
    background-color: rgb(158, 157, 137,0.2);
}

.table-list tr:hover{
    background: #1F6F8B;
}

